{% extends 'base.html' %}

{% block main %}
<body class="container">
  <div class="container-fluid">
    <br><br><br>
    <div class="row justify-content-center">
      <div class="col-sm-7 p-5 border bg-secondary-subtle">
        <div class="text-center">
          <br><br> 
          <form action="/submit" class="form" method="POST">
            <h1>Welcome!</h1>
            <h2>Please Log In</h2>
            <input class="input text" type="text" id="username" name="username" placeholder="User Name"><br><br>
            <input class="input text" type="text" id="password" name="password" placeholder="Password"><br><br>
            <input type="submit" class="btn link-primary" value="Log In" />|
            <a href="{{ url_for('forgot') }}" class="btn link-primary">Forgot password</a>
          </form>
       </div>
      </div>
    </div>
</div>
</body>

{% endblock %}